@page "/note"
@layout MainLayout

@attribute [AllowAnonymous]


<h1>
    Hola
</h1>
<article>
    <header>
        oo
    </header>
    <p>
        <NoteLines></NoteLines>
    </p>
</article>
@code {
    protected override Task OnInitializedAsync()
    {
        return Task.Run(() =>
        {

        });
    }
}