@inherits LayoutComponentBase
@attribute [Authorize]
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar >
        <MudText>
            <h1>Txt</h1>
        </MudText>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Href="https://github.com/Alen-Cisn/POOIII/tree/main/Txt" Target="_blank" />
    </MudAppBar>
    <NavMenu />
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
